* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  height: 100vh;
}

#search-box {
  margin-top: 25px;
  margin-left: 50px;
  height: 40px;
  width: 250px;
  font-size: 15px;
}

ul {
  list-style: none;
}

.country-list__item {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.country-list__flag {
  margin-right: 20px;
}

.country-info__list {
  margin-left: 10px;
  font-size: 20px;
}
